**/.DS_Store
**/.log
**/package-lock.json
app_storage/
config/CAF/*.*
config/CERTS/*.*
config/database/**/*.sql
config/env_params
**/.env
src/rcv
**/node_modules
src/.idea
src/scrapper/
src/cron.log
src/supervisord.log
src/supervisord.pid
src/mycrontask
**/vendor
/web-scrapper
.docker
src/scrapper/RegistroCompraVentaScrapper
**/.local-chromium
**/.csv
nginx-build-report.json
**/Dockerfile
**/*.env
**/.phpunit.result.cache
**/..bfg-report
**/*.sqlite
