APP_NAME=REDMINDTE
APP_ENV=development
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=America/Santiago

LOG_CHANNEL=stack

DB_CONNECTION=
DB_PORT=
DB_DATABASE=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=

MAILJET_APIKEY=
MAILJET_APISECRET=
MAILJET_TEMPLATEID=
MAILJET_FROM_EMAIL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_REGION=
AWS_BUCKET=
AWS_URL=

JWT_SECRET=
SWAGGER_DOCS_TOKEN=
API_ENDPOINT=/api/
INLINE_RUNTIME_CHUNK=false
JWT_TTL=2440

CSP_ENABLED=false

PRECACHE_TTL=5
CACHE_VERSION=1

CREATOR="Redmin"
CREATOR_URL="https://redmin.cl"
COCREATOR=""
COCREATOR_URL=""
SHOW_CREATOR=1
SHOW_COCREATOR=1

IMAP_HOST=
IMAP_PORT=993
IMAP_ENCRYPTION=ssl
IMAP_VALIDATE_CERT=true
IMAP_USERNAME=
IMAP_PASSWORD=
IMAP_DEFAULT_ACCOUNT=default
IMAP_PROTOCOL=imap

GMAIL_API_CLIENT_ID=
GMAIL_API_SECRET=
GOOGLE_APPLICATION_CREDENTIALS=/var/www/html/storage/app/gmail/credentials.json

SII_SCRAPPER_URL=http://localhost:3000
FALLBACK_EMAIL=bkp.dte@iegsw.cl
