[mysqld]
general_log = 1
general_log_file = /var/log/mysql/general.log

max_allowed_packet = 256M

# === MyISAM Settings ===
key_buffer_size = 64M

# === Connection Settings ===
max_connections = 1000